.app {
	border: 1px solid var(--dark-torquise);
}

.dashboard {
	display: flex;
}

.dashboard__districts {
	display: flex;
	flex-wrap: wrap;
	max-width: 350px;
	padding: 1rem 2rem;
	border-right: 1px solid var(--dark-torquise);
	align-items: flex-start;
	gap: 1rem;
}

.dashboard .tools {
	border-right: 1px solid var(--dark-torquise);
	padding: 1rem;
}

.dashboard .tools__p {
	font-size: 0.8rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1rem;
}

.dashboard .tools__nav {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.dashboard .tools_canvas {
	flex-grow: 1;
	padding: 1rem 2rem;
}

.dashboard__canvas__title {
	font-size: 0.8rem;
	text-transform: uppercase;
	color: var(--torquise);
}
