.app {
	border: 1px solid var(--dark-torquise);
}

.dashboard {
	display: flex;
}

.dashboard__districts {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 350px;
	padding: 1rem 2rem;
	border-right: 1px solid var(--dark-torquise);
}