.dashboard {
	display: flex;
	height: 100%;
}

.dashboard__districts {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 300px;
	padding: 1rem 1rem 0 0;
	border-right: 1px solid var(--dark-torquise);
}