.markov__table__title__wrapper {
	display: flex;
	gap: 2rem;
	align-items: flex-end;
	margin-bottom: 0.5rem;
}

.markov__table__buy_button {
	font-size: 0.8rem;
	padding: 0.1rem 0.8rem;
	/* background-color: transparent; */
	/* color: var(--light-torquise);
	border: 1px solid var(--light-torquise); */
	background-color: var(--torquise);
	color: #fff;
	border: none;
}

.markov__status {
	margin-top: 0.25rem;
}

.markov__steady {
	margin-top: 1rem;
}

.markov__steady__title,
.markov__table__title {
	font-size: 0.8rem;
	color: var(--torquise);
}

.markov__steady__content {
	margin-top: 0.25rem;
}

.markov__table {
	margin-top: 1.5rem;
}

.markov_table {
	margin-top: 0.25rem;
	border-collapse: collapse;
}

.markov_table tr:not(:last-child) {
	border-bottom: 1px solid var(--dark-torquise);
}

.markov_table th,
td {
	padding: 0.5rem 1rem;
}

.markov_table th {
	font-weight: 100;
}

.markov_table th:first-child {
	text-align: left;
	border-right: 1px solid var(--dark-torquise);
}

.markov_table td {
	text-align: center;
}
