* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
	font-family: "JetBrains Mono", monospace;

	/*COLORS*/
	--dark: #091413;
	--dark-torquise: #285a48;
	--torquise: #408a71;
	--light-torquise: #b0e4cc;

	--dark-green: #315927;
	--green: #4c8a3f;
	--light-green: #bee3af;

	--dark-blue: #275459;
	--blue: #3f808a;
	--light-blue: #afe2e3;

	--dark-indigo: #273a59;
	--indigo: #3f588a;
	--light-indigo: #afc6e3;

	--dark-red: #6c1327;
	--red: #a81f36;
	--light-red: #f1a2b8;

	--dark-olive: #6e6311;
	--olive: #aba11c;
	--light-olive: #f2e2a0;
}

body {
	background-color: var(--dark);
	color: var(--light-torquise);

	font-family: "JetBrains Mono", monospace;
	font-size: 1rem;
	font-weight: 200;

	max-width: 100vw;
	max-height: 100vh;
	max-height: 100dvh;
}

button {
	font-family: "JetBrains Mono", monospace;
	font-size: 1rem;
	font-weight: 200;
	cursor: pointer;
}

#app {
	padding: 1rem 2rem;
}

.button--control {
	background-color: transparent;
	outline: None;
	padding: 0.5rem;
	border: 1px solid var(--torquise);
	color: var(--light-torquise);
	font-size: 1rem;
	font-weight: 300;
	cursor: pointer;
	transform: scale(1);
	transition: transform 100ms ease-in;
}

.button--control.button--control--active {
	background-color: var(--dark-torquise);
}

.button--control:disabled {
	color: var(--dark-torquise);
	border-color: var(--dark-torquise);
	cursor: not-allowed;
}

.button--control:hover {
	transform: scale(1.1);
	transition: transform 100ms ease-out;
}

.button--control span {
	margin-left: 0.5rem;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--dark-torquise);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--dark-torquise) transparent;
}
